@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
}

#company-name {
  position: relative;
}
#company-name p {
  position: absolute;
  font-size: 3em;
  font-family: "Syne Mono", monospace, sans-serif !important;
  letter-spacing: 2px;
  margin-left: 5px;
  z-index: 2;
}
#company-name .first-half {
  color: #f78655;
}

#nav-bar {
  position: absolute;
  background-color: rgba(148, 136, 136, 0.945);
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
}
#nav-bar ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
#nav-bar ul li {
  display: list-item;
  margin-top: 4em;
  color: #f78655;
  font-size: 2em;
  border-bottom: 5px solid #f78655;
}

.check-div {
  margin: 1em;
  width: 2.5em;
  height: 1.8em;
  display: flex;
  justify-content: center;
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

#check-box {
  display: none;
}

label {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.5em;
  height: 1.8em;
  transition: 0.3s ease transform;
  cursor: pointer;
}
label div {
  width: 10px;
  height: 8px;
  background-color: #f78655;
  margin-left: 0;
  margin-bottom: 2px;
  border-radius: 4px;
  transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom, 0.3s ease background-color;
}
label div:first-child {
  width: 2.1em;
}
label div:nth-child(2) {
  width: 1.8em;
}
label div:last-child {
  width: 2.4em;
  margin-bottom: 0;
}

#check-box:checked + label {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background-color: black;
  width: 2em;
  height: 2em;
  border-radius: 45%;
}
#check-box:checked + label div {
  width: 6px;
  margin-left: 12px;
  margin-bottom: 3px;
}
#check-box:checked + label ~ #nav-bar {
  -webkit-animation: fade-in 1s ease;
  animation: fade-in 1s ease;
  animation-fill-mode: forwards;
}
#check-box:checked + label > nav {
  background-color: rebeccapurple;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  height: 22em;
  margin: 2em 0.5em;
}
.home #H1div {
  width: 100%;
  height: 5em;
}
.home #first-div {
  display: flex;
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
  height: 16em;
}
.home #first-div #text-div {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.home #first-div #text-div h1 {
  margin-top: -0.2em;
}
.home #first-div #text-div p {
  width: 80%;
  line-height: 1.2;
}
.home #first-div #text-div #started-p {
  text-align: center;
  color: #f78655;
}
.home #first-div #text-div #started-p span {
  border-bottom: 3px solid #f78655;
}
.home #home-small-pic {
  width: 60%;
}
.home #home-small-pic img {
  height: 100%;
  width: 100%;
}
.home #home-big-pic {
  display: none;
  height: 50%;
  width: 70%;
}
.home #home-big-pic img {
  height: 100%;
  width: 100%;
}
.home h1 {
  font-size: 1.8em;
  margin: 0.2em 0;
}

/*# sourceMappingURL=main.css.map */
