@mixin font-body {
    font-family:  'Roboto', sans-serif;
}

@mixin font-company-name {
    font-family: 'Syne Mono', monospace, sans-serif !important;
}

@mixin keyframes($name) {
    @keyframes #{$name} {
        0% {
            opacity: 0;
        }

        33% {
            opacity: 0.2;
        }

        66% {
            opacity: 0.6;
        }
        
        100% {
            opacity: 1;
        }
    }
}