.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include prefix((
        display: flex,
        flex-wrap: wrap,
        justify-content: space-between
    ), webkit ms);
    height: 25em;
    margin: 2em .5em;
    

    #H1div {
        width: 100%;
    }

    #first-div {
        display: flex;
        @include prefix((
            display: flex
        ), webkit ms);
    }

    #home-small-pic {
        width: 100%;
        img {
            height: 100%;
            width: 100%;
        }
    }

    #home-big-pic {
        display: none;
        height: 50%;
        width: 70%;
        img {
            height: 100%;
            width: 100%;
        }
    }

    h1 {
        font-size: 1.8em;
        margin: .2em 0;
    }

    p {
        width: 80%;
    }
}