.home {
    display: flex;
    justify-content: space-between;
    height: 25em;
    margin: 2em .5em;

    #first-div {
        width: 70%;
    }

    #home-small-pic {
        display: none;

        img {
            height: 100%;
            width: 100%;
        }
    }

    #home-big-pic {
        height: 70%;
        width: 70%;
        img {
            height: 100%;
            width: 100%;
        }
    }

    h1 {
        font-size: 1.8em;
        margin: .2em 0;
    }

    p {
        width: 80%;
    }
}